main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .defaultHero {
    min-height: calc(100vh - 62px);
    background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
      url("../images/defaultBcg.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section {
    padding: 4rem 0;
  }