main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .defaultHero {
    min-height: calc(100vh - 62px);
    background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
      url("../images/defaultBcg.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section {
    padding: 4rem 0;
  }
  

.center {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 2rem 0;
  margin:0 0.5rem;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .center {
    grid-template-columns: repeat(auto-fill, minmax(368.66px, 1fr));
    margin:0 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .center {
    width: 100%;
    max-width: 1170px;
    margin:0 2rem;
  }
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}