

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
  }
  .btn {
    background: transparent;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer
    }
  }
  .icon {
    color: var(--primaryColor);
    font-size: 1.5rem;
  }
  .links {
    list-style-type: none;
    transition: var(--mainTransition);
    height: 0;
    overflow: hidden;
    a {
      display: block;
      padding: 1rem 1.25rem;
      text-decoration: none;
      text-transform: capitalize;
      color: var(--mainBlack);
      transition: var(--mainTransition);
      font-weight: bold;
      letter-spacing: var(--mainSpacing);
      &:hover {
        color: var(--primaryColor);
      }
    }
  }
  .show-nav {
    height: 216px;
  }
  .social-links {
    display: none;
  }

// MEDIA QUERIES -------------------------

 @media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
}


  @media screen and (min-width: 992px) {
    .btn {
      display: none;
    }
    .center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .links {
      height: auto;
      display: flex;
    }
    .social-links {
      display: flex;
      line-height: 0;
      a {
        color: var(--primaryColor);
        margin: 0 0.5rem;
        font-size: 1.2rem;
        transition: var(--mainTransition);
        &:hover {
          color: var(--mainBlack);
          transform: translateY(-5px);
        }
      }
    }
  }
  